In [3]:
import warnings
warnings.filterwarnings('ignore')
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all" 

from datetime import date
from QUANTAXIS import QA_fetch_stock_day_adv
from QUANTAXIS import QA_fetch_index_day_adv

In [5]:
def _format_date(date_value: date, fmt='%Y-%m-%d'):
    # pylint: disable=C0301
    """格式化输出日期类型数据


    Args:
        date_value:
        fmt: 格式化字符串。
            参考：https://docs.python.org/zh-cn/3.7/library/datetime.html#strftime-and-strptime-behavior

    Returns:

    """
    return date_value.strftime(fmt)

def _test_index(code,start='2018-01-01',end='2018-12-31'):
    """测试指数数据是否在本地能读取到
    
    Return:
        如果数据读取正常，则返回True，否则返回False
    """
    return not QA_fetch_index_day_adv(code,start,end).data.empty

def _get_zs_code():
    """获取示例时的指数（沪深300）代码，返回000300或者399300"""

    ZS_CODE=['399300','000300']#指数代码。沪深300
    for z in ZS_CODE:
        if _test_index(z):
            return z
    if not isinstance(ZS_CODE, str):
        raise AssertionError
        
start_date=date(1991,1,1)
start_str = _format_date(start_date)
'开始日期:{0}'.format(start_str)
end_str = _format_date(date.today())
'结束日期:{0}'.format(end_str)

zs_code=_get_zs_code()
'指数代码:{0}'.format(zs_code)

'开始日期:1991-01-01'

'结束日期:2019-01-26'

'指数代码:399300'

In [6]:
zs_data=QA_fetch_index_day_adv(zs_code,start_str,end_str)

In [7]:
zs_data

< QA_DataStruct_Index_day with 1 securities >

In [9]:
zs_data.week.tail()

                     close      low     high        amount     open     volume
date       code
2018-12-23 399300  3029.40  3007.61  3167.51  3.800654e+11  3158.28  3323471.0
2018-12-30 399300  3010.65  2964.88  3047.24  3.621738e+11  3015.50  3432314.0
2019-01-06 399300  3035.87  2935.83  3036.81  2.599114e+11  3017.07  2428490.0
2019-01-13 399300  3094.78  3035.91  3117.96  4.700896e+11  3055.15  4517572.0
2019-01-20 399300  3168.17  3064.38  3171.69  4.435433e+11  3092.50  4192475.0

In [11]:
zs_data.month.tail()

,,close,low,high,amount,open,volume
date,code,,,,,,
2018-09-30,399300,3438.87,3191.40,3448.26,1.622261e+12,3320.69,13296280.0
2018-10-31,399300,3153.82,3009.50,3364.46,1.941885e+12,3361.56,17417518.0
2018-11-30,399300,3172.69,3126.29,3294.60,2.226474e+12,3185.20,20860696.0
2018-12-31,399300,3010.65,2964.88,3273.64,1.620744e+12,3260.69,14270390.0
2019-01-31,399300,3168.17,2935.83,3171.69,1.173544e+12,3017.07,11138537.0

In [12]:
zs_data.quarter.tail()

,,close,low,high,amount,open,volume
date,code,,,,,,
2018-03-31,399300,3898.50,3759.15,4403.34,1.076545e+13,4045.21,81541576.0
2018-06-30,399300,3510.98,3416.95,3958.71,6.949604e+12,3897.01,50811222.0
2018-09-30,399300,3438.87,3191.40,3596.51,6.039305e+12,3504.46,49146760.0
2018-12-31,399300,3010.65,2964.88,3364.46,5.789104e+12,3361.56,52548604.0
2019-03-31,399300,3168.17,2935.83,3171.69,1.173544e+12,3017.07,11138537.0

In [10]:
zs_data.year.tail()

,,close,low,high,amount,open,volume
date,code,,,,,,
2015-12-31,399300,3731.00,2952.01,5380.43,9.560133e+13,3566.09,709439038.0
2016-12-31,399300,3310.08,2821.22,3726.25,2.825912e+13,3725.86,258954940.0
2017-12-31,399300,4030.86,3264.21,4260.64,3.156389e+13,3313.95,264923773.0
2018-12-31,399300,3010.65,2964.88,4403.34,2.954346e+13,4045.21,234048162.0
2019-12-31,399300,3168.17,2935.83,3171.69,1.173544e+12,3017.07,11138537.0

In [13]:
zs_data.high.tail()

date        code
2019-01-14  399300    3097.41
2019-01-15  399300    3129.37
2019-01-16  399300    3135.01
2019-01-17  399300    3141.71
2019-01-18  399300    3171.69
Name: high, dtype: float64

In [14]:
zs_data.close.tail()

date        code
2019-01-14  399300    3067.78
2019-01-15  399300    3127.99
2019-01-16  399300    3128.65
2019-01-17  399300    3111.42
2019-01-18  399300    3168.17
Name: close, dtype: float64

In [15]:
zs_data.open.tail()

date        code
2019-01-14  399300    3092.50
2019-01-15  399300    3071.52
2019-01-16  399300    3126.13
2019-01-17  399300    3132.63
2019-01-18  399300    3124.50
Name: open, dtype: float64

In [16]:
zs_data.low.tail()

date        code
2019-01-14  399300    3064.38
2019-01-15  399300    3064.67
2019-01-16  399300    3117.29
2019-01-17  399300    3110.06
2019-01-18  399300    3120.35
Name: low, dtype: float64

In [17]:
zs_data.volume.tail()

date        code
2019-01-14  399300     661217.0
2019-01-15  399300     887729.0
2019-01-16  399300     802143.0
2019-01-17  399300     801748.0
2019-01-18  399300    1039638.0
Name: volume, dtype: float64

In [18]:
zs_data.amount.tail()

date        code
2019-01-14  399300    6.811597e+10
2019-01-15  399300    9.997689e+10
2019-01-16  399300    8.578159e+10
2019-01-17  399300    8.288820e+10
2019-01-18  399300    1.067807e+11
Name: amount, dtype: float64

#### 开盘 收盘 最高 最低 的 平均价

In [19]:
zs_data.price.tail()

date        code
2019-01-14  399300    3080.5175
2019-01-15  399300    3098.3875
2019-01-16  399300    3126.7700
2019-01-17  399300    3123.9550
2019-01-18  399300    3146.1775
Name: price, dtype: float64

#### 交易日期

In [21]:
zs_data.date

DatetimeIndex(['2005-04-08', '2005-04-11', '2005-04-12', '2005-04-13',
               '2005-04-14', '2005-04-15', '2005-04-18', '2005-04-19',
               '2005-04-20', '2005-04-21',
               ...
               '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10',
               '2019-01-11', '2019-01-14', '2019-01-15', '2019-01-16',
               '2019-01-17', '2019-01-18'],
              dtype='datetime64[ns]', name='date', length=3354, freq=None)

#### 
`amount/volume`

In [22]:
zs_data.avg.tail()

date        code
2019-01-14  399300    103016.056756
2019-01-15  399300    112620.955629
2019-01-16  399300    106940.525707
2019-01-17  399300    103384.360532
2019-01-18  399300    102709.458115
Name: avg, dtype: float64

In [27]:
zs_data.pct_change

date        code
2005-04-08  399300         NaN
2005-04-11  399300    0.007418
2005-04-12  399300   -0.014117
2005-04-13  399300    0.009883
2005-04-14  399300    0.000078
2005-04-15  399300   -0.018169
2005-04-18  399300   -0.012014
2005-04-19  399300   -0.002238
2005-04-20  399300   -0.007838
2005-04-21  399300   -0.010036
2005-04-22  399300   -0.005836
2005-04-25  399300   -0.011334
2005-04-26  399300    0.002058
2005-04-27  399300    0.000029
2005-04-28  399300   -0.001086
2005-04-29  399300    0.005244
2005-05-09  399300   -0.014708
2005-05-10  399300   -0.017901
2005-05-11  399300    0.001940
2005-05-12  399300   -0.017071
2005-05-13  399300   -0.006786
2005-05-16  399300   -0.008395
2005-05-17  399300   -0.001237
2005-05-18  399300    0.004423
2005-05-19  399300   -0.000068
2005-05-20  399300    0.002878
2005-05-23  399300   -0.014271
2005-05-24  399300   -0.008313
2005-05-25  399300    0.004932
2005-05-26  399300   -0.006097
                        ...
2018-12-06  399300   -0.012339
2018-12-07  399300   -0.004968
2018-12-10  399300   -0.010736
2018-12-11  399300    0.000858
2018-12-12  399300    0.006426
2018-12-13  399300    0.008461
2018-12-14  399300   -0.004077
2018-12-17  399300   -0.010081
2018-12-18  399300   -0.005824
2018-12-19  399300   -0.007907
2018-12-20  399300   -0.012505
2018-12-21  399300   -0.011651
2018-12-24  399300   -0.003980
2018-12-25  399300   -0.006793
2018-12-26  399300    0.001769
2018-12-27  399300    0.002556
2018-12-28  399300   -0.004688
2019-01-02  399300   -0.004223
2019-01-03  399300   -0.006881
2019-01-04  399300    0.005651
2019-01-07  399300    0.021627
2019-01-08  399300   -0.001270
2019-01-09  399300    0.010902
2019-01-10  399300   -0.001561
2019-01-11  399300    0.003707
2019-01-14  399300   -0.002334
2019-01-15  399300    0.005801
2019-01-16  399300    0.009160
2019-01-17  399300   -0.000900
2019-01-18  399300    0.007114
Name: pct_change, Length: 3354, dtype: float64

In [25]:
zs_data.min

code
399300    816.6025
Name: min, dtype: float64