In [1]:
import pandas as pd
import quantaxis_ext
import numpy as np
import simulate
from talib import MA_Type

QUANTAXIS>> Expand macros in c:\program files\python37\lib\site-packages\macropy\core\hquotes.py
QUANTAXIS>> Finding macros in 'macropy.core.hquotes'
QUANTAXIS>> Importing macros from 'macropy.core.quotes' into 'macropy.core.hquotes'
QUANTAXIS>> Expand macros in c:\program files\python37\lib\site-packages\macropy\core\quotes.py
QUANTAXIS>> Finding macros in 'macropy.core.quotes'
QUANTAXIS>> Expand macros in c:\program files\python37\lib\site-packages\macropy\core\failure.py
QUANTAXIS>> Finding macros in 'macropy.core.failure'
QUANTAXIS>> Importing macros from 'macropy.core.hquotes' into 'macropy.core.failure'
QUANTAXIS>> failed to import pyecharts_snapshot
Traceback (most recent call last):
  File "c:\program files\python37\lib\site-packages\lml\utils.py", line 43, in do_import
    plugin_module = __import__(plugin_module_name)
ModuleNotFoundError: No module named 'pyecharts_snapshot'
QUANTAXIS>> Expand macros in c:\program files\python37\lib\site-packages\cffi\api.py
QUANTAXIS>> Finding macros in 'cffi.api'
QUANTAXIS>> Expand macros in c:\program files\python37\lib\site-packages\scipy\__config__.py
QUANTAXIS>> Finding macros in 'scipy.__config__'

In [2]:
stock_list=quantaxis_ext.fetch_stock_list()

In [3]:
stock_list.head()

          code  decimal_point  name  pre_close       sec sse  volunit
code
000001  000001              2  平安银行     456.00  stock_cn  sz      100
000002  000002              2  万 科Ａ      24.93  stock_cn  sz      100
000004  000004              2  国农科技      16.60  stock_cn  sz      100
000005  000005              2  世纪星源    3074.00  stock_cn  sz      100
000006  000006              2  深振业Ａ       5.26  stock_cn  sz      100

In [4]:
df=stock_list[['name']].reset_index().set_index('code')[['name']]
df.head()

        name
code
000001  平安银行
000002  万 科Ａ
000004  国农科技
000005  世纪星源
000006  深振业Ａ

In [5]:
for code in df.index:
    try:
        df_test=quantaxis_ext.fetch_stock_day_adv(code,'1990-01-01','2018-12-31')
        if df_test.empty:
            continue
        s=simulate.simulate_buy_sale(df_test['close'], MA_Type.WMA,timeperiod=30)
        df.loc[code,'hold']=s[0]
        df.loc[code,'Profit']=s[3]
        df.loc[code,'buy_times']=s[6]
        df.loc[code,'sale_times']=s[7]
    except Exception as ex:
        print(code)
        print(ex)
        continue

c:\program files\python37\lib\site-packages\numpy\lib\function_base.py:356: RuntimeWarning: Mean of empty slice.
  avg = a.mean(axis)
c:\program files\python37\lib\site-packages\numpy\core\_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

QA Error QA_fetch_stock_day_adv parameter code=002945 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=002948 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=300755 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=300757 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=601298 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=601615 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=601860 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=601975 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=603121 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=603332 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=603700 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None
QA Error QA_fetch_stock_day_adv parameter code=603739 , start=1990-01-01, end=2018-12-31 call QA_fetch_stock_day return None

In [6]:
df.head()

        name    hold   Profit  buy_times  sale_times
code
000001  平安银行   400.0  42711.0      218.0        18.0
000002  万 科Ａ   200.0  16873.0      187.0        29.0
000004  国农科技  1600.0  24724.0      207.0        29.0
000005  世纪星源  3800.0   7888.0      232.0        27.0
000006  深振业Ａ     0.0  15721.0      222.0        37.0

In [7]:
np.sum(df['Profit'])

35755348.0