## 每日投资组合价值

[https://youtu.be/UweF-2-Tr9Y](https://youtu.be/UweF-2-Tr9Y)

## 如何计算投资组合每日的总价值

[https://youtu.be/UweF-2-Tr9Y](https://youtu.be/UweF-2-Tr9Y)

![](https://guqiangjs.github.io/Study/2018/07/11/machine-learning-for-trading/1532675498707.png)

In [35]:
import pandas as pd
import quantaxis_ext
from QUANTAXIS import QA_fetch_stock_day_adv
from QUANTAXIS import QA_fetch_index_day_adv
import ploter
import talib
import numpy as np
import settings
import units
import header
import calculator as calc

#设定绘图的默认大小
import matplotlib
matplotlib.rcParams["figure.figsize"]=[16,5]

#加载 seaborn，并且设置默认使用 seaborn
import seaborn as sns
sns.set()

matplotlib.rcParams['font.family'] = 'sans-serif'
matplotlib.rcParams['font.sans-serif'] = ['SimHei']
matplotlib.rcParams['axes.unicode_minus']=False #用来正常显示负号

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 投资组合假设

In [3]:
start_val = 1000000 # 初始投资总额
start_date = '2018-01-01' # 初始投资日期
end_date = '2018-12-31' # 结束投资日期
# 投资组合：贵州茅台、中国平安、招商银行、格力电器
symbols = ['600519','601318','600036','000651'] 
# 比率分配
allocs = [0.4,0.4,0.1,0.1]
zs_code='000300'#指数代码。沪深300

## 读取并计算投资组合每日收益

In [36]:
daily_return=calc.calc_daily_return(symbols,zs_code, start_date,end_date)
daily_return.head()
daily_return.describe()

            zs_000300    600519    601318    600036    000651
date
2018-01-03   0.005869  0.017063 -0.022317  0.011816  0.011074
2018-01-04   0.004237  0.029629  0.002959 -0.010677  0.020372
2018-01-05   0.002407  0.001750 -0.004074  0.015177  0.027909
2018-01-08   0.005173  0.018649 -0.012414 -0.020930 -0.001044
2018-01-09   0.007005  0.040405  0.026568  0.010180  0.032825

        zs_000300      600519      601318      600036      000651
count  242.000000  242.000000  242.000000  242.000000  242.000000
mean    -0.001172   -0.000476   -0.000867   -0.000483   -0.000706
std      0.013489    0.022485    0.019890    0.019234    0.023067
min     -0.047992   -0.100000   -0.066097   -0.064414   -0.089674
25%     -0.008620   -0.013649   -0.012464   -0.012367   -0.013974
50%     -0.001189   -0.002131   -0.000782   -0.000700   -0.002888
75%      0.006632    0.013026    0.011751    0.011688    0.011034
max      0.043165    0.065542    0.050761    0.068696    0.100097

In [37]:
daily_return.iloc[0] / daily_return.iloc[-1] - 1

zs_000300    -0.128497
600519       -0.644330
601318        0.587305
600036       -0.161040
000651       38.512735
dtype: float64

In [38]:
daily_return.head()
daily_return.tail()

            zs_000300    600519    601318    600036    000651
date
2018-01-03   0.005869  0.017063 -0.022317  0.011816  0.011074
2018-01-04   0.004237  0.029629  0.002959 -0.010677  0.020372
2018-01-05   0.002407  0.001750 -0.004074  0.015177  0.027909
2018-01-08   0.005173  0.018649 -0.012414 -0.020930 -0.001044
2018-01-09   0.007005  0.040405  0.026568  0.010180  0.032825

            zs_000300    600519    601318    600036    000651
date
2018-12-24   0.002905  0.001040 -0.001543  0.002363  0.003050
2018-12-25  -0.006886 -0.003891 -0.000687 -0.006287 -0.008292
2018-12-26  -0.005054 -0.010092 -0.015633 -0.017398  0.000000
2018-12-27  -0.003837  0.005214 -0.006981  0.000000 -0.005574
2018-12-28   0.006735  0.047975 -0.014060  0.014085  0.000280