In [2]:
import QUANTAXIS as QA
import jupyter_helper
import talib
import numpy as np
import pyecharts
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_val_score
from talib import MA_Type



#加载 seaborn，并且设置默认使用 seaborn
import seaborn as sns
sns.set()
import matplotlib
matplotlib.rcParams['font.family'] = 'sans-serif'
matplotlib.rcParams['font.sans-serif'] = ['SimHei']
matplotlib.rcParams['axes.unicode_minus']=False #用来正常显示负号

In [3]:
s,e=jupyter_helper.get_start_end_date()
benchmark_code=jupyter_helper.get_benchmark_code()
stock_code='601398'
DAYS=1#计算时间段

In [4]:
calc_data=jupyter_helper.get_calc_data(stock_code,s,e)
# calc_data.head()

In [5]:
def create_validate_df_close(df, days,column='close') -> pd.DataFrame:
    '''制作结果数据。
    '''
    if column not in df.columns:
        raise ValueError('数据中不包含 {} 列。'.format(column))
    return pd.DataFrame(calc_data[column].shift(-1*days).values,index=calc_data.index).dropna()

In [65]:
def vv(days, test_size=0.2, column='close'):
    calc_data = jupyter_helper.get_calc_data(stock_code, s, e)

    y = create_validate_df_close(calc_data, days, column=column)
#     return calc_data,y
    
    X = calc_data[calc_data.index.isin(y.index)]
#     return X,y

    X_train, X_test, y_train, y_test = train_test_split(X, y,
                                                        test_size=test_size,
                                                        random_state=1)
    
    ridge = Ridge()
    ridge.fit(X_train, y_train)
    print('score:{}'.format(ridge.score(X_test, y_test)))
#     print('实际值')
#     print(calc_data[-1*days:][column])
#     print('预测值')
#     print(np.round(ridge.predict(calc_data[-1*days:]),2))
    predict_value = np.round(ridge.predict(calc_data[-1*days:]), 2)
    
    return ridge,calc_data[-1*days:],pd.DataFrame(
        predict_value, columns=['{}_{}'.format(column, days)])
    
    result = calc_data[-1*days:][column].reset_index().join(pd.DataFrame(
        predict_value, columns=['{}_{}'.format(column, days)])).set_index('date')
#     if result.shape[0]>1:
#         result.plot(title='真实值/预测值')
#         result.pct_change().plot(title='变化率')
#     print(result)
    return result

In [66]:
f,t,v=vv(2)
t

score:0.9897215607353016

            open  high   low  close    volume    amount
date
2019-01-23  5.40  5.45  5.39   5.44  0.025082  0.038346
2019-01-24  5.46  5.47  5.42   5.46  0.016757  0.026535

In [64]:
v

   close_2
0     5.43
1     5.45

In [62]:
calc_data.tail()

            open  high   low  close    volume    amount
date
2019-01-18  5.27  5.40  5.25   5.39  0.053856  0.078348
2019-01-21  5.41  5.48  5.40   5.45  0.044941  0.066872
2019-01-22  5.46  5.46  5.37   5.39  0.028306  0.042808
2019-01-23  5.40  5.45  5.39   5.44  0.025082  0.038346
2019-01-24  5.46  5.47  5.42   5.46  0.016757  0.026535

In [67]:
calc_data

                open      high       low     close    volume    amount
date
2006-10-27  1.992133  2.015570  1.910104  1.921823  1.000000  0.521280
2006-10-30  1.915963  1.945260  1.904245  1.927682  0.133277  0.066700
2006-10-31  1.921823  1.951119  1.921823  1.933541  0.085953  0.043163
2006-11-01  1.933541  1.939400  1.921823  1.933541  0.048172  0.023725
2006-11-02  1.933541  1.933541  1.904245  1.921823  0.064593  0.031898
2006-11-03  1.915963  1.974556  1.915963  1.968696  0.151965  0.077421
2006-11-06  1.951119  1.980415  1.945260  1.980415  0.078130  0.039873
2006-11-07  1.980415  2.009711  1.974556  1.992133  0.111856  0.058165
2006-11-08  1.992133  1.992133  1.962837  1.968696  0.055527  0.028227
2006-11-09  1.968696  1.992133  1.962837  1.992133  0.065678  0.033608
2006-11-10  1.992133  2.062444  1.992133  2.027289  0.291719  0.155987
2006-11-13  2.021429  2.103458  2.015570  2.062444  0.176583  0.095745
2006-11-14  2.097599  2.121036  2.068303  2.109318  0.164358  0.090445
2006-11-15  2.115177  2.138614  2.109318  2.138614  0.130434  0.072476
2006-11-16  2.167910  2.302672  2.150332  2.226502  0.263751  0.153828
2006-11-17  2.220643  2.255798  2.191347  2.226502  0.118869  0.069360
2006-11-20  2.226502  2.296812  2.226502  2.296812  0.120116  0.071537
2006-11-21  2.290953  2.320249  2.261657  2.302672  0.087093  0.052259
2006-11-22  2.290953  2.314390  2.232361  2.285094  0.106675  0.063385
2006-11-23  2.296812  2.349545  2.296812  2.326109  0.114246  0.069641
2006-11-24  2.296812  2.308531  2.261657  2.296812  0.070061  0.041741
2006-11-27  2.279235  2.285094  2.203065  2.232361  0.113284  0.066254
2006-11-28  2.214783  2.232361  2.173769  2.197206  0.090736  0.052013
2006-11-29  2.150332  2.226502  2.138614  2.220643  0.091464  0.052249
2006-11-30  2.226502  2.244080  2.208924  2.232361  0.086614  0.050242
2006-12-01  2.244080  2.244080  2.191347  2.203065  0.103079  0.059423
2006-12-04  2.203065  2.326109  2.179628  2.290953  0.156114  0.092750
2006-12-05  2.290953  2.331968  2.261657  2.273376  0.099979  0.060186
2006-12-06  2.273376  2.290953  2.203065  2.249939  0.098914  0.058002
2006-12-07  2.249939  2.314390  2.232361  2.255798  0.127430  0.076461
...              ...       ...       ...       ...       ...       ...
2018-12-12  5.340000  5.350000  5.320000  5.340000  0.010698  0.017415
2018-12-13  5.350000  5.400000  5.340000  5.390000  0.018764  0.028980
2018-12-14  5.360000  5.380000  5.340000  5.350000  0.013647  0.021642
2018-12-17  5.330000  5.370000  5.320000  5.370000  0.015180  0.023789
2018-12-18  5.350000  5.360000  5.330000  5.350000  0.018777  0.028819
2018-12-19  5.360000  5.370000  5.320000  5.330000  0.018915  0.029069
2018-12-20  5.330000  5.350000  5.200000  5.230000  0.038724  0.055775
2018-12-21  5.200000  5.210000  5.100000  5.190000  0.042556  0.059757
2018-12-24  5.140000  5.230000  5.120000  5.220000  0.021170  0.031060
2018-12-25  5.160000  5.260000  5.160000  5.230000  0.034386  0.049378
2018-12-26  5.220000  5.280000  5.210000  5.270000  0.016994  0.025824
2018-12-27  5.300000  5.320000  5.270000  5.280000  0.019686  0.029774
2018-12-28  5.300000  5.340000  5.290000  5.290000  0.021927  0.033067
2019-01-02  5.300000  5.310000  5.170000  5.200000  0.022304  0.032836
2019-01-03  5.180000  5.230000  5.170000  5.200000  0.018011  0.026889
2019-01-04  5.180000  5.280000  5.150000  5.270000  0.024411  0.035893
2019-01-07  5.300000  5.300000  5.230000  5.240000  0.019296  0.029014
2019-01-08  5.250000  5.250000  5.180000  5.200000  0.022243  0.032713
2019-01-09  5.210000  5.290000  5.200000  5.260000  0.036648  0.053166
2019-01-10  5.240000  5.260000  5.200000  5.220000  0.015642  0.023826
2019-01-11  5.230000  5.250000  5.210000  5.240000  0.015635  0.023820
2019-01-14  5.260000  5.260000  5.180000  5.200000  0.018197  0.027218
2019-01-15  5.210000  5.250000  5.190000  5.230000  0.023605  0.034733
2019-01-16  5.230000  5.240000  5.210000  5.240000  0.016425  0.024892
2019-01-17  5.250000  5.310000  5.220000  5.250000  0.034627  0.050348
2019-01-18  5.270000  5.400000  5.250000  5.390000  0.053856  0.078348
2019-01-21  5.410000  5.480000  5.400000  5.450000  0.044941  0.066872
2019-01-22  5.460000  5.460000  5.370000  5.390000  0.028306  0.042808
2019-01-23  5.400000  5.450000  5.390000  5.440000  0.025082  0.038346
2019-01-24  5.460000  5.470000  5.420000  5.460000  0.016757  0.026535

[2960 rows x 6 columns]

In [68]:
f.predict(calc_data)

array([[1.98648779],
       [1.9411367 ],
       [1.94736523],
       ...,
       [5.39444372],
       [5.4349842 ],
       [5.45478917]])